<div class="columns-3">
    <p>Well, let me tell you something, ...</p>
    <p class="break-before-column">Sure, go ahead, laugh...</p>
    <p class="break-before-column">Maybe we can live without...</p>
    <p>Look. If you think this is...</p>
  </div>
 <div>
    <p>hdcvh</p>
    <p>dsvcf</p>
    <p>dvsd</p>
    <p>dvsvs</p>
    <p>vsvs</p>
 </div>
 <span class="box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2 ...">
    Hello <br>
    World
  </span>
  <br>
  <span class="box-decoration-clone bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2 ...">
    Hello<br />
    World
  </span>

  <div class="box-border h-24 w-24 p-4 border-4 ...">
  hello world
  </div>
<br><br>
  <div class="box-content h-32 w-32 p-4 border-4 ...">
 box out completely
  </div>

  <br><br><br>
  <span class="inline-grid grid-cols-3 gap-4 border-8 border-black">
    <span>01</span>
    <span>02</span>
    <span>03</span>
    <span>04</span>
    <span>05</span>
    <span>06</span>
  </span>
  <br><br>
  <span class="inline-grid grid-cols-3 gap-4 border-4 border-black">
    <span>01</span>
    <span>02</span>
    <span>03</span>
    <span>04</span>
    <span>05</span>
    <span>06</span>
  </span>

  <div>
       <img class="object-cover h-48 w-96" src="../../../assets/mobile.png" alt="">
  </div>
  <div>
       <img class="object-contain h-48 w-96" src="../../../assets/mobile.png" alt="">
  </div>
  <div>
       <img class="object-fill h-48 w-96" src="../../../assets/mobile.png" alt="">
  </div>
  <div>
       <img class="object-scale-down h-48 w-96" src="../../../assets/mobile.png" alt="">
  </div>
  <div>
       <img class="object-none h-48 w-96" src="../../../assets/mobile.png" alt="">
  </div>

  <div class="grid grid-cols-3 gap-4 ">
    <div class="">01</div>
    <div class="visible bg-violet-500 hover:invisible">02</div>
    <div>03</div>
  </div>

  <div class="w-64 h-44 bg-gradient-to-r from-orange-400"> </div>

  <div class="opacity-30">
    <img src="../../../assets/images.jpeg" alt="">
  </div>
  <div class="">
    <img class="backdrop-blur-md bg-white" src="../../../assets/images.jpeg" alt="">
  </div>
  
  <textarea name="" id="" cols="30" rows="10" class="resize border-black border-2" ></textarea>

  <div class="w-96 h-48 overflow-auto touch-auto">
    <img class="w-[150%] max-w-none h-auto" src="../../../assets/mobile.png" />
  </div>