<div class="w-full max-h-max sm:p-4 bg-[#18142c] ">
<div class="mx-auto w-full  h-full bg-[#212538] sm:p-6 sm:rounded-xl lg:flex xl:w-[90%]">

   <nav class=" max-w-full bg-[#18142c] flex justify-between items-center sm:rounded-xl lg:flex lg:flex-col lg:p-2">
    <div class="flex gap-1 m-2 lg:flex lg:flex-col lg:mt-12">
       <div class="group h-12 w-12 grid place-items-center  rounded-md hover:bg-[#212538] "><img src="../../../assets/house-black-silhouette-without-door.png" class="brightness-100 group-hover:brightness-200" alt=""></div>
       <div class="group h-12 w-12 grid place-items-center  rounded-md hover:bg-[#212538]"> <img class="brightness-100 group-hover:brightness-200"  src="../../../assets/user.png" alt=""></div>
       <div class="group h-12 w-12 grid place-items-center  rounded-md hover:bg-[#212538]"><img class="brightness-100 group-hover:brightness-200"  src="../../../assets/love.png" alt=""></div>
    </div>
    <div class="flex gap-1 m-2 lg:flex lg:flex-col">
        <div class="group h-12 w-12 grid place-items-center  rounded-md hover:bg-[#212538] "><img class="brightness-100 group-hover:brightness-200" src="../../../assets/setting.png" alt=""></div>
        <div class="group h-12 w-12 grid place-items-center  rounded-md hover:bg-[#212538] "><img class="brightness-100 group-hover:brightness-200" src="../../../assets/left-alignment.png" alt=""></div>
    </div>
   </nav> 
  <div class="  flex flex-col bg-[#212538] max-h-full p-2 sm:p-0 lg:ml-10 lg:w-[99%]">

    <div class=" flex items-end justify-between py-5">
     <div>
       <p class="text-3xl text-[#898994]">Groups</p> 
     </div>
     <div class="flex gap-2">
        <div class="group h-10 w-10 grid place-items-center  rounded-md hover:bg-[#18142c] " ><img class="brightness-100 group-hover:brightness-200" src="../../../assets/left-alignment.png"  src="../../../assets/four-.png" src="../../../assets/menu (1).png" alt=""></div>
        <div class="group h-10 w-10 grid place-items-center  rounded-md hover:bg-[#18142c] " >
            <img class="brightness-100 group-hover:brightness-200" src="../../../assets/left-alignment.png"  src="../../../assets/four-.png" alt="">
        </div>
     </div>
    </div>
    <div class=" flex flex-col pt-5  gap-3 sm:grid sm:grid-cols-2  md:grid md:grid-cols-3 lg:grid lg:grid-cols-4 ">
        <div class="flex flex-col justify-center items-center h-64 bg-[#1d2033] rounded-md sm:h-80 lg space-y-3 cursor-pointer" >

          <div class="border w-20 h-20 rounded-full grid place-content-center">

            <i class="fa-solid fa-plus fa-xl" style="color: #ffffff;"></i>
          </div>
          <p class="text-white">Create group</p>
        </div>
        <div  class="flex flex-col  items-center h-64 bg-[#131328] rounded-md sm:h-80 lg cursor-pointer">
        <div class="flex items-center space-x-2 mt-3 pb-3 sm:pb-0">
      
          <p class="text-xs text-gray-500 ">22 Online</p>
          <i class="fa-solid fa-circle fa-2xs" style="color: #00b31e;"></i>
        </div>
        <div class=" w-20 h-20 rounded-full sm:mt-20 " id="pic1">
        </div>
        <p class="font-extrabold text-white text-2xl pt-2">Cuisine</p>
        <p class="text-gray-400">55 Members</p>
        </div>


        <div  class="flex flex-col  items-center h-64 bg-[#131328] rounded-md sm:h-80 lg cursor-pointer">
          <div class="flex items-center space-x-2 mt-3 pb-3 sm:pb-0">
        
            <p class="text-xs text-gray-500">4 Online</p>
            <i class="fa-solid fa-circle fa-2xs" style="color: #00b31e;"></i>
          </div>
          <div class=" w-20 h-20 rounded-full sm:mt-20" id="pic2">
          </div>
          <p class="font-extrabold text-white text-2xl pt-2">Art </p>
          <p class="text-gray-400">132 Members</p>
          </div>

          <div  class="flex flex-col  items-center h-64 bg-[#131328] rounded-md sm:h-80 lg cursor-pointer">
            <div class="flex items-center space-x-2 mt-3 pb-3 sm:pb-0">
          
              <p class="text-xs text-gray-500">0 Online</p>
              <i class="fa-solid fa-circle fa-2xs" style="color: #fa0000;"></i>
            </div>
            <div class=" w-20 h-20 rounded-full sm:mt-20" id="pic3">
            </div>
            <p class="font-extrabold text-white text-2xl pt-2">Gaming </p>
            <p class="text-gray-400">210 Members</p>
            </div>


        <div class="h-56 bg-[#131328] rounded-md sm:h-80 lg">

        </div>
        <div class="h-56 bg-[#131328] rounded-md sm:h-80 lg">

        </div>
        <div class="h-56 bg-[#131328] rounded-md sm:h-80 lg">

        </div>
        <div class="h-56 bg-[#131328] rounded-md sm:h-80 lg">

        </div>
        
    </div>
  </div>
</div>
</div>