<div class="container  flex max-w-full h-screen ">
    <div class="h-screen w-3/4 bg-black">
      <div class="h-4/6  bg-black flex flex-col">
        <nav class="flex p-5 justify-evenly" >
            <img  src="../../../assets/logo.png" alt="" width="150px">
            <ul class="space-x-5 text-white font-semibold">
              <a href="">Service</a>
              <a href="">Clients</a>
              <a href="">About</a>
              <a href="">Protolio</a>
              <a href="">Mobile App</a>
            </ul>
            <div class="flex space-x-5 pl-20 items-center">
              <div class="rounded-xl bg-gray-600 w-6 h-6 grid place-items-center">
              <img class="" src="../../../assets/instagram.png" alt="" >
            </div>
            <div class="rounded-xl bg-gray-600 w-6 h-6 grid place-items-center">
              <img class="" src="../../../assets/google.png" alt="" >
            </div>
              <div class="rounded-xl bg-gray-600 w-6 h-6">
              <img class="grid place-items-center" src="../../../assets/facebook.png" alt="" >
            </div>
            </div>
        </nav>
        <div class="font-medium">
            <h1 class="mt-16 ml-5 text-8xl text-yellow-400">We Create</h1>
            <h1 class="text-8xl ml-72 text-white">More than</h1>
            <h1 class="absolute text-8xl ml-96 pl-52 text-white">just interior</h1>
          </div>
      </div>
      <div class="flex h-2/6 ">
        <div class=" w-1/2 overflow-hidden" >
            <img src="https://hips.hearstapps.com/hmg-prod/images/index-luxuryfurniture-1659361945.jpg?crop=1.00xw:1.00xh;0,0&resize=640:*" alt="" width="" >
        </div>
        <div class=" w-1/4 bg-yellow-400 ">
            <i class="absolute mt-7 ml-1" ><img src="../../../assets/black-check-box.png" alt="" width="10px"></i>
           <p class="p-5 ">PHILOSOPHY</p>
           <p class="text-sm capitalize  pl-5 ">We create a space we people can control every parameter they need the relationship between form and function is at the heart of our philosophy</p>
           <p class="pt-5 pl-5">About Us <span class="text-3xl">&#8594;</span>
           </p>
        </div>
        <div class="w-1/4 bg-white">
          <img src="../../../assets/mobile.png" alt="">
        </div>
    </div>
</div>
    <div class="h-screen bg-yellow-400 w-1/4 ">
        <div class="h-3/4 bg-[#d3d5d4]">
             <img src="../../../assets/images.jpeg" alt="" width="246px">
        </div>
        <div class="h-1/4 bg-green-400 flex ">
          <div class="w-1/2 bg-yellow-400 h-full p-3">
             <p class="text-5xl">16</p>
              <p class="text-xs pt-3">Parameter to regulate in our mobile app</p>
          </div>
          <div class="h-full w-1/2 bg-white p-3">
            <p class="text-5xl">263</p>
            <p class="text-xs pt-3">Happy family</p>
          </div>
        </div>
    </div>
</div>


